<div class="col-sm-12">
  <h5 class="mt-4">TIVIT</h5>
  <hr>
  <ngb-tabset type="pills">
    <ngb-tab title="Configurar Caixa Postal" class="mb-3">
      <ng-template ngbTabContent>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Salvar</button>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Testar</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Configurações do Sistema">
      <ng-template ngbTabContent>
        <p>Testando TEXTO</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Sequencial">
      <ng-template ngbTabContent>
        <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
